@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --brand-light: hsl(227, 100%, 98%);
  --brand-accent: hsl(212, 100%, 46%);
  --brand-accent-light: hsl(212, 100%, 66%);
  --brand-accent-dark: hsl(217, 35%, 45%);
  --fill-primary: hsl(217, 21%, 21%);
  --fill-secondary: hsl(217, 10%, 57%);
  --fill-light: hsl(0, 0%, 100%);
  --box-shadow: 5px 10px 20px -6px hsl(216, 6%, 85%);
  --box-radius: 10px;
}

html {
  font-size: 90%;
}

body {
  font-family: 'Space Mono', sans-serif;
  margin: 0;
  line-height: 1.5;
  background-color: var(--brand-light);
  color: var(--fill-primary);
  padding: 1rem 0;
}

*:focus {
  outline-color: var(--brand-accent);
}

.container {
  max-width: 45rem;
  padding: 0 1rem;
  margin: 0 auto;
}

input, button {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

a, a:visited {
  color: var(--brand-accent);
}

a:active {
  color: var(--brand-accent-light);
}

header, .info-list-item, .theme-btn {
  display: flex;
  align-items: center;
}

header {
  justify-content: space-between;
}

.theme-btn {
  background: none;
  padding: 0 0 4px 0;
  position: relative;
}

.theme-btn::after {
  content: '';
  position: absolute;
  width: 0px;
  left: 50%;
  height: 2px;
  background-color: var(--fill-primary);
  bottom: 0;
  transition: 0.2s all ease-in-out;
}

.theme-btn:hover::after {
  width: 100%;
  left: 0;
}

.theme-mode-text {
  margin-right: 0.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

form, .search-btn,
.search-results, .github-stats {
  border-radius: var(--box-radius);
}

form, .search-results {
  background-color: var(--fill-light);
  box-shadow: var(--box-shadow);
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.3rem 0.3rem 0.3rem 0.7rem;
  gap: 1rem;
}

.search-btn {
  padding: 0.5rem 1.1rem;
  flex: auto;
  background-color: var(--brand-accent);
  transition: 0.2s background-color ease-in-out;
  color: var(--fill-light);
}

.search-btn:hover {
  background-color: var(--brand-accent-light);
}

.search-btn:disabled {
  background-color: var(--brand-accent-light);
  cursor: not-allowed;
}

.search-input {
  padding: 0.3rem 0.5rem;
  flex-grow: 1;
}

.search-results {
  margin-top: 2rem;
  padding: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "avatar username"
                       "avatar link"
                       "avatar join-time"
                       "bio bio"
                       "details details";
  column-gap: 1rem;
}

.user-avatar {
  border-radius: 50%;
  grid-area: avatar;
  max-height: 100px;
}

.user-link {
  padding: 0.5rem 0;
  justify-self: start;
  grid-area: link;
}

.username {
  margin: 0;
  grid-area: username;
}

.user-bio {
  grid-area: bio;
}

.user-details {
  grid-area: details;
}

.join-time {
  grid-area: join-time;
}

.github-stats {
  background-color: var(--brand-light);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

dl, dd {
  margin: 0;
}

dd {
  font-weight: 700;
  text-align: center;
}

.person-info {
  margin-top: 1.5rem;
}

.info-list-item {
  column-gap: 0.7rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 450px) {
  .search-btn {
    flex-grow: 0;
  }
  
  .search-icon {
    margin-left: 0.3rem;
  }

  dd {
    text-align: left;
  }

  .search-results {
    grid-template-columns: 1fr 3fr;
  }
}

@media screen and (min-width: 550px) {
  .search-results {
    grid-template-columns: 1fr 3fr auto;
    grid-template-areas: 
          "avatar username join-time"
          "avatar link ."
          ". bio bio"
          ". details details";
  }
  
  .user-link {
    align-self: start;
  }

  .person-info {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    gap: 1rem 1.5rem;
  }

  .info-list-item {
    margin-bottom: 0;
  }
  
  .user-bio {
    margin-top: 0;
  }
}

@media screen and (min-width: 670px) {
  .search-results {
    padding: 2rem;
    column-gap: 2rem;
  }

  html {
    font-size: 110%;
  }
}